*{
	padding: 0px;
	margin: 0px;
	outline: none;
	border: medium none;
	font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Regular.ttf') format('ttf');
}

.header-first{ 
	overflow: hidden;
  	color: white;
	font-size: 13px;
	padding: 17px 0 7px;
	background-color: #3b5998;
}

.h1-title{
	font-size: 40px;
	margin-left: 270px;
	padding: 10px;
	float: left;
}

.login-form{
	float: right;
}

.input-container{
	float: left;
	margin: 5px 0 0 13px;
}

.login-label{
	font-size: 12px;
	display: block;
	padding: 0 0 5px 0;
}

.login-input{
	border: 1px solid #ccd0d5;
	padding: 3px 3px 4px;
}

.login-submit{
	text-align: center;
	width: 50px;
	margin: 23px 280px 0 13px; 
	border-radius: 2px;
	padding: 2px 6px;
	background-color: #4267b2;
    border: 1px solid #29487d;
    color: white;
}

.login-submit:hover{
  background-color: #3b5998;
}


.href-forgotten{
	color: white;		
	float: left;
	padding: 4px 0 0 3px;
	margin: 45px 0 0 -164px;
	font-size: 12px;
	color: #9cb4d8;	
}

.clearfloat{
	clear: both;
}

.page-desc{
	float: left;
	font-size: 20px;
	padding: 40px 0 0 280px;
}

.globe-img{
	float left;
	padding: 10px 0 0 280px;	
}


.clearfloat{
	clear: both;
}

.signup{
	float: right;
	padding: 0px 200px 0 0;

}

.signup-title{
	font-size: 36px;
	margin-top: 0;
}

.signup-title-subtitle{
	font-size: 19px;
}

.signup-input{
	padding: 5px;
	margin: px;
}

.signup-label{
	font-size: 15px;
}

.tnc{
	font-size: 12px;
	color: grey;
}

.signup-button{
	margin: 10px 0;
	padding: 7px 120px 7px 120px;
	background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
	color: white;
}

.clearfloat{
	clear: both;
}





