*{
	margin: 0;
	padding: 0;
	outline: none;
	line-height: 1.34;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.header{
	background-color: #3b5998;
	background-image: linear-gradient(#4e69a2, #3b5998 50%);
	color: white;
}

.header-content{
	max-width: 960px;
	margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.title{
	float: left;
	margin-top: 20px;
	font-size: 40px;
	font-weight: bolder;
}

.login-form{
	float: right;
}

.input-container{
	float: left;
	padding: 10px 0 4px 14px; 
}

.login-label{
		padding: 5px 0 5px 0;
		font-size: 12px;
}

.login-input{
	margin: 0;
	width: 142px;
	display: block;
	padding: 3px 3px 2px;
	padding-bottom: 4px;
}

.password-link{
	color: #9cb4d8;
	font-size: 12px;
}

.login-button{
	color: white;
	font-weight: bold;
	font-size: 12px;
	padding: 2px 6px;
	margin: 22px 0;
	background-color: #4267b2;
	border: 1px solid #ccd0d5;
    border-color: #29487d;
}


.layout{
	background: linear-gradient(white, #D3D8E8);
}


.layout-content{
	max-width: 980px;
	margin: 0 auto; 
}
.left-layout{
	float: left;
}
.quote{
	font-weight: bold;
	font-size: 20px;
	margin: 40px 0px 0px;
}
.world-img{
	width: 536px;
	height: 194px;
}

.right-layout{
	float: right;		
}

.create-title{
	font-size: 36px;
	font-weight: bold;
	padding: 10px 0px;
}

.subtitle{
	font-size: 19px;
	font-weight: bold;
	padding-bottom: 16px;
}

.signup-container{
	padding: 8px 0px;
}

.basic-input{
	font-weight: bold;
    border-radius: 5px;
	padding: 8px 10px;
	border: 1px solid #bdc7d8;
	font-size: 16px;
}

.full-input{
	width: 377px;
}

.half-input{
	width: 187px;
}

.birthday-label{
	font-size: 20px;
    font-weight: bold;
    color: darkgrey;
    padding-bottom: 3px;
}

.birthday{
	padding: 5px;
}

.radio{
	display: block;
	padding-top: 10px;
}


.radio-title{
	font-size: 20px;
    font-weight: bold;
    color: darkgrey;
    padding-bottom: 3px;	
}

.radio-label{
	padding-right: 15px;
}


#par{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

#signup-button{
	width: 196px;
	padding: 7px;
	font-size: 19px;
	font-weight: bold;
	color: white;
    background-color: #69a74e;
    border-style: none;
}

.vip-page{
	padding-top: 25px;
	padding-bottom: 30px;
	font-size: 13px;
}


.footer{
	background-color: white;
	color: grey;
	margin: 0px;
	padding-top: 67px; 
}


.footer-content{
	max-width: 960px;
	margin: 0 auto;
}

.languages{
	list-style-type: none;
	align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 8px 0px 8px;
}

.lang{
	padding-right: 10px;
}

.services-list{
	border-top: solid;
	border-width: 1px;
	list-style-type: none;
	align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 8px 0px 0px;	
}

.services{
	padding-right: 20px;
}

#copyright{
	font-size: 10px;
	margin-top: 30px;
	margin-bottom: 30px;

}